__pycache__/
.env
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/*
iframe_figures/*
storage/*
logs/*
datasets/*
temp/*
web_app/iframe_figures/*
web_app/storage/*
web_app/logs/*
web_app/datasets/*
.DS_Store
LLM_CONFIG.json

test.py
.python-version
main.py
pyproject.toml
titanic.csv
uv.lock