openai
tiktoken
pandas
numpy
pyarrow
matplotlib
seaborn
plotly
termcolor
newspaper3k
pinecone
selenium
google-generativeai
google-genai
groq
ollama
anthropic
mistralai
flask
ipython
nbformat
python-dotenv
lxml[html_clean]
gunicorn
google-cloud-storage
statsmodels
scipy
scikit-learn
geopandas
yfinance
opentelemetry-distro
setuptools