openai
tiktoken
pandas
numpy
pyarrow
matplotlib
seaborn
plotly
kaleido
termcolor
newspaper3k
selenium
google-generativeai
google-genai
groq
ollama
anthropic
mistralai
flask
ipython
nbformat
python-dotenv
lxml_html_clean
gunicorn
google-cloud-storage
statsmodels
scipy
scikit-learn
geopandas
yfinance
sweatstack
python-jose[cryptography]
supabase
stripe
httpx
pdfplumber
python-docx
